Conectando con Python 3.11.4..._

In [ ]:
a = 12
print(a)


# 2) Imprimir el tipo de dato de la constante 8.5

In [ ]:
type(8.5)


# 3) Imprimir el tipo de dato de la variable creada en el punto 1

In [ ]:
type(a)


# 4) Crear una variable que contenga tu nombre

In [ ]:
mi_nombre = 'Luis Gabriel Acevedo Franco'


# 5) Crear una variable que contenga un número complejo

Conectado a Python 3.11.4

In [1]:
n_complejo = 5 + 5j


# 6) Mostrar el tipo de dato de la variable crada en el punto 5

In [2]:
type(n_complejo)


# 7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

complex

In [3]:
pi = 3.1416


# 8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [4]:
var1 = 'True'
var2 = True



# 9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [5]:
a = 5.2 + 4



# 11) Realizar una operación de suma de números complejos

In [6]:
a = 3 + 1j
b = 1 + 3j
print(a + b)



# 12) Realizar una operación de suma de un número real y otro complejo

(4+4j)

In [7]:
c = a + 1.61
print(c)



# 13) Realizar una operación de multiplicación

(4.61+1j)

In [8]:
print(4 * 3 )


# 14) Mostrar el resultado de elevar 2 a la octava potencia

12

In [9]:
print( 2**8)


# 15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

256

In [10]:
a = 27 / 4 
print(a)



# 16) De la división anterior solamente mostrar la parte entera

6.75

In [11]:
print(27 // 4)




# 17) De la división de 27 entre 4 mostrar solamente el resto

6

In [12]:
27 % 4 


# 18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

3

In [13]:
4 * 6 + 3



# 19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

27

In [23]:
var1 = 'Gabriel '
var2 = 'Acevedo'



# 20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [24]:
2 == '2'


# 21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

False

In [25]:
2 == int('2')



# 22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

True

In [26]:
a = float(3.8)


# 23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [27]:
a = -3
b -= 1
print(a)



# 24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

-3

In [28]:
1 << 2


# 25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

4

In [29]:
int(2) + int ('2')



# 26) Realizar una operación válida entre valores de tipo entero y string

4

In [32]:
var1 = 'este texto se repetira '
var2 = 3
print(var1 * var2 + str(var2) + ' veces')

este texto se repetira este texto se repetira este texto se repetira 3 veces